body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#home{
    background-image: url("1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     height: 500px;
     margin: 0px;


}
#home h1{
    text-align: center;
    padding: 200px;
}
ul {
    list-style:none;
    display: flex;
    justify-content: start;
     gap:30px
}
li a{
    text-decoration: none;
    color:black;
    
}
#about h3{
    text-align: center;
}
#about h2{
    text-align: center;
}
#about-me{
    display: grid;
    grid-template-columns: 1fr,1fr;

    
}
pre{
    width: 50%;
}
