body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#home{
    background-image: url("1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     height: 400px;


}
#home h1{
    text-align: center;
    
}
ul {
    list-style:none;
    display: flex;
    justify-content: start;
     gap:30px
}
li a{
    text-decoration: none;
    color:black;
    
}
#about h3{
    text-align: center;
}
#about h2{
    text-align: center;
}
#about-me{
    display: flex;
    flex-direction: row;
    gap: 20px;
    }



/* #about{
    margin: 50px;
} */





.footer-about ul {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  padding:30px;
  /* margin-left :-50px; */
  margin-right: 0px;

}

.photography{
    background-color: lightgray;
}
.progress{
    margin: 30px;
}
.gallery-portifoilo{
   display:grid;
   grid-template-columns: repeat(3, 1fr); 
   gap:10px;
   margin-left: 190px;
   margin-right:200px;
}
.portfolio-h2{
    text-align: center;
}
.portfolio-h3{
    text-align: center;
   margin-left: 400px;
    width: 500px;
}
.load-more{
    text-align: center;
    margin-top: 50px;
     margin-left:600px;
    background-color: lightgrey;
    width:150px;
    padding: 20px;
}
.part-portifoilo{
     background-image: url("2.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     height: 300px;


}
.inner-contact{
    text-align: center;
    font-size: 40px;
   
    background-color: lightgrey;
    width: 200px;
    height: 40px;
    margin-left: 600px;
    }
    .contact-h2{
        text-align: center;
    }
    .contact-h3{
        text-align: center;
    }
    .contact-image{
        margin-left: 200px;
        margin-top: 80px;
    }
    .contact-display{
        display: flex;
        flex-direction: row;
        /* gap:30px; */
       
    }
    .contact-b{
         margin-left: 50px;
         margin-top: 60px;
    }
    footer{
        height: 400px;
        background-color: black;
    }
